<div>
  <h2>Swagger JSON</h2>
  <button type="button" (click)="generateJSON($event)">Generate</button>
  <table>
    <tr>
      <td>
        <label>Swagger: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.swagger" placeholder="Swagger" readonly/>
      </td>
    </tr>
    <!-- <tr>
      <th><label>Info </label></th>
    </tr> -->
    <tr>
      <td>
        <label>Description: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.info.description" placeholder="Description" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Version: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.info.version" placeholder="Version" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Title: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.info.title" placeholder="Title" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Host: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.host" placeholder="Host" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Base Path: </label>
      </td>
      <td>
        <input [(ngModel)]="swaggerJSON.basePath" placeholder="Base Path" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Consumes: </label>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="swaggerConsumes" name="mimeType">
          <option selected="" value="">Select One</option>
          <option [ngValue]="mimetype.type" *ngFor="let mimetype of mimetypes">
            {{mimetype.type}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label>Produces: </label>
      </td>
      <td>
        <select class="form-control" [(ngModel)]="swaggerProduces" name="mimeType">
          <option selected="" value="">Select One</option>
          <option [ngValue]="mimetype.type" *ngFor="let mimetype of mimetypes">
            {{mimetype.type}}
          </option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <div style="padding-top: 10px"></div>Controller</th>
      <td><button type="button" (click)="addController($event)" id="addController">Add New Controller</button></td>
    </tr>
    <tr *ngFor="let controllerObj of controllerObjArray; let i = index">
      <td>
        <label>({{i+1}}) Controller: </label>
      </td>
      <td>
        <input [(ngModel)]="controllerObj.name" placeholder="Controller Name" />
        <input [(ngModel)]="controllerObj.description" placeholder="Controller Description" />
        <button type="button" (click)="removeController($event)" id="removeController-{{i}}">Remove Controller</button>
        <table>
          <tr *ngFor="let pathObj of controllerObj.paths; let j = index">
            <td>
              <input [(ngModel)]="pathObj.path" placeholder="Request Path" />
              <select class="form-control" [(ngModel)]="pathObj.pathType">
            <option [ngValue]="requestMethod.value" *ngFor="let requestMethod of requestMethodTypes">
              {{requestMethod.key}}
            </option>
          </select>
              <input [(ngModel)]="pathObj.summary" placeholder="Summary" />
              <button type="button" (click)="addPath($event)" id="addPath-{{i}}-{{j}}">Add Path</button>
              <button type="button" (click)="removePath($event)" id="removePath-{{i}}-{{j}}">Remove Path</button>
              <br>
              <div style="padding-top: 5px"></div>
              <label>Consumes: </label>
              <select class="Opform-control" [(ngModel)]="pathObj.consumes">
          <option selected="" value="">Select One</option>
          <option [ngValue]="mimetype.type" *ngFor="let mimetype of mimetypes">
            {{mimetype.type}}
          </option>
              </select>
              <label>Produces: </label>
              <select class="Opform-control" [(ngModel)]="pathObj.produces">
          <option selected="" value="">Select One</option>
          <option [ngValue]="mimetype.type" *ngFor="let mimetype of mimetypes">
            {{mimetype.type}}
          </option>
        </select>
              <div style="padding-top: 5px"></div>
              <label>Return Type: </label>
              <select class="Opform-control" [(ngModel)]="pathObj.returnType">
          <option [ngValue]="returnType" *ngFor="let returnType of returnTypes">
                  {{returnType}}
                </option>
              </select>
            </td>
          </tr>
        </table>
        <div style="padding-bottom: 10px"></div>
      </td>
    </tr>

    <tr>
      <td>
        <label>Models: </label>
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="showDefinitions" (change)=definitionCheckEvent($event) id="definitionCheck" />
        <button type="button" (click)="addDefinition($event)" id="addDefinition" [(disabled)]="!showDefinitions">Add Class</button>
      </td>
    </tr>
    <tr *ngFor="let defn of definitionList; let i = index">
      <td>
        <label>({{i+1}}) Model: </label>
      </td>
      <td>
        <input placeholder="Class Name" [(ngModel)]="defn.defnName" [(readonly)]="!showDefinitions" />
        <button type="button" (click)="removeDefinition($event)" id="removeDefinition-{{i}}" [(disabled)]="!showDefinitions">Remove Class</button>
        <table>
          <tr *ngFor="let prop of defn.properties; let j = index">
            <td>
              <label>({{j+1}}) : </label>
            </td>
            <td>
              <input placeholder="Attribute Name" [(ngModel)]="defn.properties[j].propName" [(readonly)]="!showDefinitions" />
              <label>Attribute Type: </label>
              <select class="form-control" [(ngModel)]="defn.properties[j].property.type" [(disabled)]="!showDefinitions">
                <option [ngValue]="dataType" *ngFor="let dataType of dataTypes">
                  {{dataType}}
                </option>
              </select>
              <button type="button" (click)="addAttribute($event)" id="addAttribute-{{i}}-{{j}}" [(disabled)]="!showDefinitions">Add Attribute</button>
              <button type="button" (click)="removeAttribute($event)" id="removeAttribute-{{i}}-{{j}}" [(disabled)]="!showDefinitions">Remove Attribute</button>
            </td>
          </tr>
        </table>
        <div style="padding-bottom: 10px"></div>
      </td>
    </tr>
  </table>
</div>
<div>
  <br>
  <span id="finalJson">{{finalJSON}}</span>
</div>